<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="VIM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <VIM.Properties.Settings>
            <setting name="ReportSummaryFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ReportSummaryFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReportSummaryFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MonthlyBulletinFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MonthlyBulletinFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MonthlyBulletinFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="VesselSummarySettingsFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="VesselSummarySettingsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="VesselSummarySettingsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="VesselsFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="VesselsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="VesselsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmImportPersonsState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FrmImportPersonsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmImportPersonsSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmImportPersonsSplitterPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormObsViewLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormObsViewSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormObsViewState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FormObsViewSplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InspectorsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="InspectorsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="InspectorsFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FrmMailLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmMailSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmMailState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FrmCrewOnBoardSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmCrewOnBoardState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FrmCrewOnBoardLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormReportSummarySize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormReportSummaryState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FormReportSummaryLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </VIM.Properties.Settings>
    </userSettings>
</configuration>
